{% load static %}
{% load utils %}

<div class="card my-2 {% if not item.visible %}bg-light{% endif %}">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h4 class="dashboard-resume-title">
                    <a href="#">{{ item.title }}</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.date|date:'d.m.Y' }}</h6>
                <p class="card-text">{{ item.salary|price_format }} <span>руб.</span></p>
                <p class="about-candidate">{{ item.description}}</p>
                {% if item.get_experience %}
                <p class="card-subtitle mb-2 text-muted">Опыт работы</p>
                {% for item in item.get_experience %}
                    <div class="profile">
                        <p class="dashboard-resume-title"> {{item.position}} ({{item.get_company_name}})</p>
                        <div class="jobster-candidate-timeline">
                            <a class="jobster-timeline-cricle">{{item.start_date}}-</a>
                            <a class="jobster-timeline-cricle">{{item.end_date}}</a>
                        </div>
                        <p class="card-text"> {{item.company}}</p>
                        <p class="card-text"> {{item.description}}</p>
                    </div>
                {% endfor %}
                {% endif %}
                <!-- <a href="#" class="card-link">Подробнее</a> -->
            </div>
            <div class="col-2 text-right">
                 <a href="{% url 'mainapp:resume_detail' item.id %}" class="card-link" title="Просмотреть">
                     <i class="fa fa-eye" aria-hidden="true"></i>
                 </a>
                <a href="{% url 'jobfinder:resume_edit' item.id %}" class="card-link" title="Пригласить">
                   <i class="fa fa-user-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>