{% extends 'worklink/base.html' %}
{% load static %}
{% load utils %}
{% block content %}

<div class="header-inner bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <h2 class="text-primary">{{ title }}</h2>
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
                    <li class="breadcrumb-item active">
                        <i class="fas fa-chevron-right"></i>
                        <a href="{% url 'vacancies' %}">Вакансии компании</a>
                    </li>
                    <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>{{ title }}</span></li>
                </ol>
            </div>
            <div class="col-lg-3 col-md-12 mt-md-4 text-right">
                <a href="{% url 'vacancies' %}" class="btn btn-outline-success">Назад</a>
            </div>
        </div>
    </div>
</div>

<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
            {% if success %}
                <div class="alert alert-success">Вакансия добавлена</div>
            {% endif %}
                <form action="{% url 'vacancy_add' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="input-group">
                        <button type="submit" value="сохранить" class="btn btn-success btn-block">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
