{% extends 'worklink/base.html' %}

{% block content %}

<h2 class="h2 ml-3"> "Сделать предложение "</h2>

<section class="mt-5 mb-5">
    <div class="">
        <div class="col-lg-6 col-md-12">
            <form method="post" action="{% url 'jobfinder:add_page' %}">
                {% csrf_token %}
                {{ form }}

                <button class="btn-primary mr-4 ml-4" type="submit">Отправить предложение</button>
            </form>
        </div>
    </div>
</section>

{% endblock content %}