            {# неавторизованный пользователь#}
            {% if not user.is_authenticated %}
                <div class="login d-inline-block mr-4">
                    <a class="nav-link" href="{% url 'authapp:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
                </div>
                <a class="btn btn-primary btn-md" href="{% url 'auth:register' %}">Регистрация</a>
            {% else %}

            {# авторизованный пользователь#}
                <div class="login d-inline-block mr-4">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle user-login" href="" data-toggle="dropdown">
                            {{ user.username|default:'Пользователь' }}
                            <span class="caret"> </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link text-dark" href="{% url 'auth:edit' %}">Профиль</a>
                            </li>

                            {% if user.is_superuser %}
                            <li>
                                <a class="nav-link text-dark" href="{% url 'adminapp:vacancies' %}">Модерация вакансий</a>
                            </li>
                            {% endif %}

                        {% if user.status == 'соискатель' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'jobfinder:my-resumes' %}">Мои резюме</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'jobfinder:my-response' %}">Отклики</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'jobfinder:my-offer' %}">Предложения</a>
                            </li>
                        {% endif %}
                        {% if user.status == 'компания' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'company:my-vacancies' %}">Вакансии компании</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="login d-inline-block mr-4">
                    <a class="nav-link" href="{% url 'auth:logout' %}">Выйти <i class="fas fa-sign-out-alt"></i></a>
                </div>
            {% endif %}
