
{% extends 'worklink/base.html'%}
{%load static%}

{% block content %}
    <div class="container" style="margin-top: 50px; margin-bottom: 30px">
        <div class="login">
            <div class="h2 text-center head">
                Регистрация нового пользователя
            </div>
            <form class="form-horizontal"
                  action="{% url 'auth:register' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                <br>
                <input class="form-control"
                       type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
{% endblock %}