{% extends 'worklink/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load utils %}
{% block content %}

<div class="header-inner bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary"> Форма </h2>
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="{% url 'index' %}"> Домой </a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Внести данные </span></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="space-ptb">
  <div class="container">
      {% if success %}
      <div class="alert alert-success">Вакансия добавлена</div>
      {% endif %}
<form action="{% url 'job_form' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="сохранить" class="btn btn-success btn-round form-control last">сохранить</button>
</form>
        </div>
</section>

{% endblock %}