{% extends 'worklink/base.html' %}
{% load static %}
{% load utils %}
{% block content %}


    {% for job_item in object_list %}
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">{{ job_item.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ job_item.date|date:'d.m.Y' }}</h6>
        <p class="card-text">{{ job_item.celery }}</p>
        <a href="{% url 'job_detail' job_item.id %}" class="card-link">Описание вакансии</a>
      </div>
    </div>
    {% endfor %}

<button type="submit"><a href="{% url 'job_form' %}" class="btn btn-primary btn-block" > Добавить вакансию </a>
</button>



<div class="row justify-content-center align-items-center mt-3 mb-n3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
        {% endif %}
        {% for item in page_obj.paginator.page_range %}
      <li class="page-item {% if item == page_obj.number %}active{% endif %}"><a class="page-link" href="?page{{ item }}">{{ item }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
        {% endif %}
<!--      <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--      <li class="page-item"><a class="page-link" href="#">Следующая</a></li>-->
    </ul>
  </nav>
</div>


{% endblock %}