{% extends 'worklink/base.html' %}
{% block title %}
{{ object.title|default:"Вакансии" }}
{% endblock title %}
{% block content %}
<div class="row justify-content-center pt-3">
    <div class="col-md-12 col-lg-8">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <h4 class="card-title">{{ object.celery }}</h4>
                <p class="card-text">
                    {{ object.body }}
                </p>
                <a href="{% url 'job_list' %}" class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}